<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="flex flex-wrap justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/logo.svg" class="h-8" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">RT-Jam</span>
    </a>
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a hx-get="/discover"  class="cursor-pointer block py-2 px-3 dark:hover:text-blue-500 dark:text-white rounded md:bg-transparent aria-selected:text-blue-700 aria-selected:dark:text-blue-500" aria-selected="true" role="tab" aria-controls="tab-content">Discover</a>
      </li>
      <li>
        <a hx-get="/my-rooms" class="cursor-pointer block py-2 px-3 rounded dark:hover:text-blue-500 dark:text-white aria-selected:dark:text-blue-500 dark:border-gray-700" aria-selected="false" role="tab" aria-controls="tab-content">My rooms</a>
      </li>
      <li>
        <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="items-center flex py-2 px-3 rounded dark:hover:text-blue-500 dark:text-white aria-selected:dark:text-blue-500 dark:border-gray-700" aria-controls="tab-content">Account
          <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownLargeButton">
            <li>
              <a hx-get="/profile" class="block px-4 cursor-pointer py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" aria-controls="tab-content">Preferences</a>
            </li>
          </ul>
          <div class="py-1">
            <a hx-post="/auth/logout" class="block cursor-pointer px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
